@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  margin: 0;
  font-family: 'Raleway', serif;
  color: #4A4A4A;
  line-height: 1.75em;
}
body div.grid {
  float: left;
  padding: 0 2%;
}
body div.center {
  margin: 0 auto;
}
body div.quarter {
  width: 21%;
}
body div.third {
  width: 29%;
}
body div.half {
  width: 46%;
}
body div.full {
  width: 96%;
}
body div.left {
  float: left;
}
body div.right {
  float: right;
}
body div.clear {
  clear: both;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  margin-top: 2em;
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
}
body h1 {
  font-size: 25px;
}
body h2 {
  font-size: 20px;
}
body h3,
body h4 {
  font-size: 18px;
}
body h4,
body h5 {
  text-decoration: none;
}
body h5 {
  font-weight: normal;
}
body a {
  color: #4A4A4A;
  transition: color 0.3s ease;
}
body a:hover {
  color: #111;
}
body .center {
  text-align: center;
}
body .underline {
  text-decoration: underline;
}
body .sep {
  width: 30px;
  background: #333;
  height: 5px;
}
body input[type="text"],
body input[type="email"],
body textarea {
  font-family: inherit;
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
}
body .button {
  border: 1px solid #DDD;
  border-radius: 5px;
  padding: 10px 40px;
  text-align: center;
  cursor: pointer;
  width: 200px;
  margin: 0 auto;
}
body .button:hover {
  background: #EEE;
}
body #error-msg {
  color: red;
}
body header .container,
body footer .container,
body section .container {
  width: 80%;
  margin: 0 auto;
}
body header .container:after,
body footer .container:after,
body section .container:after {
  content: '';
  display: block;
  clear: both;
}
body section.block {
  padding: 25px 0;
  border-bottom: 1px solid #EEE;
}
@media screen and (max-width: 1024px) {
  body header .container,
  body section .container,
  body footer .container {
    width: 95%;
  }
}
body header.site-head div.logo,
body footer.site-foot div.logo {
  background: url(/static/logo.png) no-repeat top;
  width: 100%;
  padding: 0 0 22% 0;
  background-size: 100% auto;
  margin: 0 auto;
  display: block;
}
body header.site-head a.logo,
body footer.site-foot a.logo {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 50pt;
  line-height: 50pt;
  font-family: "Merriweather", serif;
}
body header.site-head {
  margin-top: 25px;
  border-bottom: 1px solid #EEE;
  transition: ease background 0.2s;
}
body header.site-head.scroll {
  position: fixed;
  width: 100%;
  background: #FFF;
  margin: 0;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.73);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.73);
  transition: ease background 0.2s;
}
body header.site-head.scroll div.container div.logo {
  width: 30%;
  padding-bottom: 7%;
  float: left;
}
body header.site-head.scroll div.container a.logo {
  float: left;
  width: auto;
  font-size: 20pt;
  line-height: 20pt;
  margin: 20px 0;
}
body header.site-head.scroll div.container h1 {
  display: none;
}
body header.site-head.scroll div.container nav {
  width: 60%;
  margin: 20px 1%;
  float: right;
}
body header.site-head.scroll div.container nav ul {
  float: right;
}
body header.site-head.scroll div.container nav ul,
body header.site-head.scroll div.container nav ul li {
  margin: 0;
}
body header.site-head nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
body header.site-head nav ul li {
  display: inline-block;
  margin: 5px 5%;
}
body header.site-head nav a {
  margin: 0 5px;
  font-size: 25px;
  text-transform: uppercase;
  color: inherit;
  transition: all 500ms;
  padding: 0 5px;
  display: inline-block;
}
body header.site-head nav a:hover {
  background: #000;
  color: #FFF;
  transition: all 500ms;
}
body header.site-head nav a.mobile-menu {
  position: absolute;
  right: 10px;
  top: 15px;
  display: none;
}
body footer.site-foot {
  min-height: 80px;
}
body footer.site-foot a.logo {
  font-size: 15pt;
  line-height: 15pt;
  margin-top: 1em;
}
@media screen and (max-width: 1110px) {
  body header div.container {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  body header .container,
  body section .container,
  body footer .container {
    width: 95%;
  }
  body header .container a.logo,
  body section .container a.logo,
  body footer .container a.logo {
    margin: 15px 0;
  }
  body header {
    margin-top: 25px;
  }
  body header.scroll h1 {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  body header.site-head.scroll div.container div.logo {
    width: 30%;
    float: none;
    padding-bottom: 7%;
  }
  body header.site-head.scroll div.container a.logo {
    margin-left: 1em;
  }
  body header.site-head.scroll div.container nav,
  body header.site-head.scroll div.container img.logo {
    float: none;
    margin: 0 auto;
  }
  body header.site-head.scroll div.container img.logo {
    padding-bottom: 0;
    padding-top: 5px;
  }
  body header.site-head.scroll div.container nav {
    width: 100%;
    text-align: center;
  }
  body header.site-head.scroll div.container nav .mobile-menu {
    display: inline-block;
  }
  body header.site-head.scroll div.container nav ul {
    width: 100%;
    float: none;
  }
  body header.site-head.scroll div.container nav ul,
  body header.site-head.scroll div.container nav ul li {
    margin: 0;
  }
  body header.site-head.scroll div.container nav ul li {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body header.site-head.scroll div.container div.logo {
    width: 50%;
    padding-bottom: 13%;
  }
  body header.site-head.scroll div.container a.logo {
    width: 100%;
    font-size: 20pt;
    line-height: 20pt;
  }
}
@media screen and (max-width: 400px) {
  body header.site-head.scroll div.container div.logo {
    margin-top: 1%;
    padding-bottom: 15%;
  }
  body header.site-head.scroll div.container a.logo {
    font-size: 15pt;
    line-height: 15pt;
  }
}
body div#about section img {
  max-height: 300px;
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
body div#about section img.instagram {
  max-height: 230px;
  padding: 10px 0;
}
body div#about section p {
  text-align: justify;
  max-width: 600px;
  line-height: 25px;
  word-spacing: 10px;
  letter-spacing: 1px;
}
body div#about #instafeed {
  height: 343px;
}
@media screen and (max-width: 767px) {
  body div#about section .grid.half {
    float: none;
    width: 86%;
    margin: 0 auto;
  }
  body div#about section .grid.half p {
    max-width: 100%;
  }
  body div#about section .grid.quarter {
    width: 46%;
  }
  body div#about #instafeed {
    height: auto;
  }
}
body div#contact section .container div#confirm,
body div#contact section .container div#error {
  display: none;
  margin-bottom: 50px;
}
body div#contact label {
  display: block;
  margin-top: 1em;
}
body div#contact input[type="text"],
body div#contact input[type="email"],
body div#contact textarea {
  width: 50%;
}
body div#contact input[type="text"],
body div#contact input[type="email"] {
  height: 35px;
}
body div#contact input[type="submit"] {
  margin-top: 1em;
}
@media screen and (max-width: 767px) {
  body div#contact input[type="text"],
  body div#contact input[type="email"],
  body div#contact textarea {
    width: 75%;
  }
}
